@model IEnumerable<Rental>


@{
    ViewData["Title"] = "Rentals";
}

<h1>List of rented cars</h1>

<a href="@Url.Action("Create")">
    <img class="plusIcon" src="/images/NotePlusIcon.png" alt="New rental" />
</a>

<table class="table" style="background-color:white;">
    <thead class="thead-dark">
        <tr>
            <th>Customer Name</th>
            <th>Car</th>
            <th>From</th>
            <th>To</th>
            <th>

        <select id="sort-select" class="SelectDropdown__Select-jfvpwy-1 cZejDE">
            <option>Sort by:</option>
            <option value="customerName">Customer</option>
            <option value="date">Date</option>
            <option value="Car">Car</option>
        </select>
            </th>
            <th>

            </th>

        </tr>
    </thead>
    <tbody>


        @foreach (var rental in Model)
        {
        <tr>
            <td>@rental.CustomerName</td>
            <td>@rental.CarModel</td>
            <td>@rental.From</td>
            <td>@rental.To</td>


            <td>
                <a asp-action="Delete" asp-route-id="@rental.Id">Cancel</a>
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@rental.Id">Edit</a>
            </td>



        </tr>
        }
    </tbody>
</table>
