@model IEnumerable<Car>

@{
    ViewData["Title"] = "Garage";
}

<h1>List of available cars</h1>

<p>
    <a href="@Url.Action("Create")">
        <img class="plusIcon" src="/images/CarPlusIcon.png" alt="Add a new car" />
    </a>
</p>

<table class="table" style="background-color:white;">
    <thead class="thead-dark">
        <tr>
            <th>Model</th>
            <th>Year</th>
            <th>Mileage (km)</th>
            <th>Price per day (sek)</th>
            <th>
                <select id="sort-select" class="SelectDropdown__Select-jfvpwy-1 cZejDE">
                    <option>Sort by:</option>
                    <option value="CarModel">Model</option>
                    <option value="Price">Price</option>
                    <option value="Year">Year</option>
                </select>
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
        <tr>
            <td>@car.Model</td>
            <td>@car.Year</td>
            <td>@car.Mileage</td>
            <td>@car.Price</td>

            <td>
                <a asp-action="Delete" asp-route-id="@car.Id"><img class="trashIcon" src="~/images/TrashIcon.png" alt="Delete car"/></a>
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@car.Id"><img class="editIcon"src="~/images/EditIcon.png" alt="Edit car"/></a>
            </td>
        </tr>
        }
    </tbody>
</table>
