@model IEnumerable<Car>

@{
    ViewData["Title"] = "Emres CarBooking";
}

<<h1>List of available cars</h1>

<p>
    <a asp-action="Create">Add a new car</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Model
            </th>
            <th>
                Year
            </th>
            <th>
                Mileage
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
        <tr>
            <td>@car.Model</td>
            <td>@car.Year</td>
            <td>@car.Mileage</td>
            <td>@car.Price</td>
            <td>
                <a asp-action="Delete" asp-route-id="@car.Id">Delete</a>
                <a asp-action="Edit" asp-route-id="@car.Id">Edit</a>
            </td>
        </tr>
        }
    </tbody>
</table>
